@import "tailwindcss";

:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--inverted-color);

  --main-font: Instrument Serif;
  --secondary-font: Instrument Sans;
  --primary-color: #FFFCFF;
  --inverted-color: #28282B;
  --secondary-color: #F2F2F2;
  --tertiary-color: #96E6B3;
  --surface-color: #EFEFEF;
  --text-color: #0D2818;
  --border-color: #82846D;
  --accent-color: #82846D;


  --red-color: #EF3054;
  --green-color: #96E6B3;
  --blue-color: #97D2FB;
  --grey-color: #EFEFEF;
}
