@import "tailwindcss";

:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --main-font: Instrument Serif;
  --secondary-font: Instrument Sans;
  --main-bg-color: #fffcff;
  --main-text-color: #28282B;
  --main-border-color: #28282B;
  --main-accent-color: #ff4d4d;

  --secondary-bg-color: #28282B;
  --secondary-text-color: #FFFCFF;
  --secondary-border-color: #dcdcdc;
  --secondary-accent-color: #ffb3b3;

  --neutral-bg-color: #f0f0f0;
  --neutral-text-color: #7d7d7d;
  --neutral-border-color: #e0e0e0;
  --neutral-accent-color: #ffb3b3;

  --red-color: #EF3054;
  --green-color: #96E6B3;
  --blue-color: #97D2FB;
  --grey-color: #EFEFEF;
}
